.home_bg{
    background-image:url(https://images.unsplash.com/photo-1539635278303-d4002c07eae3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8ZnJpZW5kc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
    height: 80vh;
    background-position: center;
    background-repeat: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
.login_bg_color{
    background-color: grey;
}
.home-message-icon{
    margin-left: 10px;
    display: inline-block;
}